.layout-boxed-bg {
    background: url(http://demo.interface.club/limitless/demo/bs4/Template/global_assets/images/backgrounds/boxed_bg.png) repeat;
}
.table-lg td, .table-lg th {
    padding: .5rem 1.25rem;
}
.table-xs td, .table-xs th {
    padding: .5rem 1rem;
}
.datatable-header {
    display: none;
}
.priority-danger {
    border-left: 3px solid #f44336;
}
.priority-primary {
    border-left: 3px solid #2196f3;
}
.priority-success {
    border-left: 3px solid #4caf50;
}
.theme_bar_lg {
    background-color: rgba(0, 0, 0, 0.13);
    box-shadow: inset 0 0.0625rem 0.0625rem rgba(0,0,0,.1);
    height: 10px;
    width: 100px;
    margin-top: 4px;
}
.theme_bar_lg .pace_progress {
    height: 8px;
}
.theme_bar_lg .pace_progress {
    background: #4caf50;
}
.theme_bar_lg span {
    width: 100%;
    color: #000;
    font-size: 10px;
    display: block;
    position: absolute;
    left: 108%;
    top: -3px;
}

.tasks-list tbody tr:hover {
    background-color: #eaf5ea;
}
.tasks-list tbody {
    cursor: pointer;
}
.text-line-through {
    text-decoration: line-through;
}
.media-list-linked li.media {
    border: none;
    padding: 0.5rem 0.25rem;
}
.media-list-linked li.media:hover {
    background-color: rgba(0, 0, 0, .04);
    cursor: pointer;
}
.subtask-comments.active {
    color: red !important;
}
.subtask-comments {
    color: #bdbdbf !important;
}
.subtask-comments i {
    margin-right: 5px;
    font-size: 14px;
}
ul.media-list-linked li.active {
    background-color: #e7f7f1;
    border-radius: 6px;
}
.card-body .datatable-header, .card-body .datatable-footer {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.card-body .datatable-footer {
    padding-bottom: 1.25rem;
    border-top: 1px solid #ddd !important;
}
#aniimated-thumbnials .card img {
    width: 250px;
    height: 150px;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
    border-left: 1px solid green;
    border-right: 1px solid green;
}
@media screen and (min-width: 1200px) {/* если окно браузера больше максимальной ширины сайта */
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}